* {
    background-color: black;
    color: white;
    font-family: "Verdana";
    text-align: center;
}

p {
    font-size: 1.3em;
    color: white;
    align-self: center;
    text-align: center;
    font-family: "Verdana";
    padding-left: 110px;
    padding-right: 110px;
}

.main a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-family: 'Arial Black', sans-serif;
    text-decoration: none;
    margin: 40px 40px 40px 40px;
}

    .main a:hover {
        background-color: #FFD700;
        font-family: 'Arial Black', sans-serif;
        color: black;
        font-size: 1.3em;
        margin: 40px 40px 40px 40px;
    }

h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 3em;
    color: #FFD700;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 5px;
    background-color: #FFD700;
    font-size: 1.1em;
    border: 1px;
    color: black;
    text-align: center;
    font-family: "Verdana";
    overflow-x: hidden;
    display: block;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: #FFD700;
    margin-top: 7px;
    display: block;
}
  .sidebar a:hover {
    color: white;
}

.main {
    margin-left: 290px; 
    padding: 0px 10px;
}

.Topic a {
    font-weight: bold;
    margin-top: 10px;
}