*{
  background-color: #080505;
  color: white;
}


h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 4em;
    color: #FFD700;
    text-align: center;
    margin-top: 55px;
    padding-left: 40px;
}
.intro {
    padding: 5px;
    background-color: #FFD700;
    font-size: 1.1em;
    border: 1px;
    margin-left: 130px;
    margin-right: 130px;
    color: #080505;
    text-align: center;
    font-family: "Verdana";
}
.about{
  color: white;
  align-self: center;
    text-align: center;
  font-family: "Verdana";
  margin-top: 100px;
  margin-bottom: 50px;
  
}
.button {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
    margin-left: auto;
    margin-right: auto 
 
}
.butt {
    margin-left: auto;
    margin-right: auto ;
  align-self: center;
  text-align: center;
  padding: 1px;
  font-size: 3em;
  
}

a:link, a:visited {
    font-family: "Verdana";
    background-color: #080505;
    color: white;
    border: #FFD700;
    border-radius: 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #FFD700;
    font-family: "Verdana";
    color: #080505;
}
