td {
    font-size: 1.2em;
    font-weight: normal;
}

th {
    font-size: 1.7em;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
}

.main a {
    color: white;
    font-size: 1.5em;
    font-family: 'Arial Black', sans-serif;
    text-decoration: none;
}
    .main a:hover {
        background-color: #FFD700;
        font-family: 'Arial Black', sans-serif;
        color: black;
        font-size: 1.5em;
    }
.Topic a {
    font-weight: bold;
    margin-top: 10px;
    background-color: #FFD700;
}

.Topic {
    background-color: #FFD700;
}
.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-color: #FFD700 !important;
    font-size: 1.1em;
    color: black;
    text-align: center;
    font-family: "Verdana";
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: #FFD700 !important;
    margin-top: 7px;
    display: block;
}

.sidebar a:hover {
  color: white;
}

.main {
    margin-left: 290px; 
  padding: 0px 10px;
}
h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 3em;
    color: #FFD700;
    text-align: center;
}

h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 3em;
    color: #FFD700;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    font-family: 'Arial Black', sans-serif;
    text-decoration: none;
    margin: 40px 40px 40px 40px;
}

    .link:hover {
        background-color: #FFD700;
        font-family: 'Arial Black', sans-serif;
        color: black;
        font-size: 1.8em;
        margin: 40px 40px 40px 40px;
    }
p {
    color: white;
    font-size: 1.3em;
    align-self: center;
    text-align: center;
    font-family: "Verdana";
    padding-left: 130px;
    padding-right: 130px;
}
* {
    background-color: black;
    color: white;
    font-family: "Verdana";
    text-align: center;
}