* {
    align-self: center;
    text-align: center;
    font-family: "Verdana";
}
table {
    font-family: 'Verdana';
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid;
    text-align: center;
    padding: 4px;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
