<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" href={{page.style}}>
    <title>{{ page.title }}</title>
    <link rel="icon" href="../stahu.ico" type="image/x-icon">
    <meta charset="utf-8" />
</head>
<body>
    <div class='main'>
        {{content}}
    </div>
    <div class='sidebar'>
        <div class='languages'>
            <a href={{page.german}}> german </a>
            <a href={{page.french}}> french </a>
        </div>
        <div class='Topic'>
            <a href='../index.html'> Homepage  </a>
        </div>

            <div class="Topic">
                <a href='../biology/biologysite.html'> Biology</a>
            </div>

            <a href='../biology/organs.html'> Organs </a>
            <a href='../biology/digestivesystem.html'> Digestive System </a>
            <a href='../biology/respiratorysystem.html'> Respiratory System </a>
            <a href='../biology/circulatorysystem.html'> Circulatory System </a>
            <a href='../biology/nervoussystem.html'> Nervous System </a>
            <a href='../biology/sensorysystem.html'> Sensory System </a>
            <a href='../biology/musclesandskelet.html'> Muscles and Skeleton </a>

            <div class="Topic">
                <a href='../physics/physicssite.html'> Physics</a>
            </div>

            <div class="Topic">
                <a href='../maths/mathssite.html'> Mathematik </a>
            </div>

            <div class="Topic">
                <a href='../chemistry/chemistrysite.html'> Chemistry </a>
            </div>
        </div>


</body>
    
</html>
