<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" href={{page.style}}>
    <title>{{ page.title }}</title>
    <link rel="icon" href="../stahu.ico" type="image/x-icon">
    <meta charset="utf-8" />
</head>
<body>
    <div class='main'>
        {{content}}
    </div>
    <div class='sidebar'>
            <div class="Topic">
                <a href='../index.html'> Homepage  </a>
            </div>

            <div class="Topic">
                <a href='../biology/biologysite.html'> Biology</a>
            </div>

            <a href='organs.html'> Organs </a>
            <a href='digestivesystem.html'> Digestive System </a>
            <a href='respiratorysystem.html'> Respiratory System </a>
            <a href='circulatorysystem.html'> Circulatory System </a>
            <a href='nervoussystem.html'> Nervous System </a>
            <a href='sensorysystem.html'> Sensory System </a>
            <a href='musclesandskeleton.html'> Muscles and Skeleton </a>

            <div class="Topic">
                <a href='../physics/physicssite.html'> Physics</a>
            </div>

            <div class="Topic">
                <a href='../maths/mathssite.html'> Mathematik </a>
            </div>

            <div class="Topic">
                <a href='../chemistry/chemistrysite.html'> Chemistry </a>
            </div>
    </div>


</body>
    
</html>
