<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{page.style}}>
    <title>{{ page.title }}</title>
    <link rel="icon" href="../../stahu.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <script src='game.js'></script>
</head>
<body onLoad="init();">
    <div class='main'>
        {{content}}
    </div>
    <div class='sidebar'>
        <div class='languages'>
            <a href={{page.anglais}}> anglais </a>
            <a href={{page.allemand}}> allemand </a>
        </div>
        <div class='Topic'>
            <a href='../francaisindex.html'> Homepage  </a>
        </div>

        <div class="Topic">
            <a href='../biologie/biologie.html'> La Biologie </a>
        </div>

        <a href='../biologie/organes.html'> Les Organes </a>
        <a href='../biologie/systemedigestif.html'> Le Système Digestif </a>
        <a href='../biologie/systemerespiratoire.html'> Le Système Respiratoire  </a>
        <a href='../biologie/systemecirculatoire.html'> Le Système Circulatoire </a>
        <a href='../biologie/systemenerveux.html'> Le Système Nerveux</a>
        <a href='../biologie/musclesetsquelette.html'>  Muscles et Squelette </a>

        <div class="Topic">
            <a href='../langues/langues.html'> Langues </a>
        </div>

        <div class="Topic">
            <a href='../chimie/chimie.html'> La Chimie </a>
        </div>
        <a href='../chimie/ensembles.html'> Ensembles d'éléments </a>
        <a href='../chimie/reactionschimiques.html'> Réactions Chimiques </a>
    </div>


</body>

</html>