<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{page.style}}>
    <title>{{ page.title }}</title>
    <link rel="icon" href={{page.icon}} type="image/x-icon">
    <meta charset="utf-8" />
    <script src='game.js'></script>
</head>
<body onLoad="init();">
    <div class='main'>
        {{content}}
    </div>
    <div class='sidebar'>
        <div class='languages'>
            <a href={{page.english}}> englisch </a>
            <a href={{page.franzosisch}}> französisch </a>
        </div>
        <div class="Topic">
            <a href='../deutschindex.html'> Homepage  </a>
        </div>

        <div class="Topic">
            <a href='../biologie/biologie.html'> Biologie</a>
        </div>

        <a href='../biologie/organe.html'> Organe </a>
        <a href='../biologie/verdauungssystem.html'> Verdauungssystem </a>
        <a href='../biologie/atmungssystem.html'> Atmungssystem </a>
        <a href='../biologie/kreislaufsystem.html'> Kreislaufsystem </a>
        <a href='../biologie/nervensystem.html'> Nervensystem </a>
        <a href='../biologie/bewegungsapparat.html'> Bewegungsapparat
        </a>

        <div class="Topic">
            <a href='../sprachen/sprachen.html'> Sprachen </a>
        </div>
        <a href="../sprachen/germanische.html"> Germanische Sprachen</a>
        <a href="../sprachen/romanische.html"> Romanische Sprachen</a>
        <a href="../sprachen/slawische.html"> Slawische Sprachen</a>



        <div class="Topic">
            <a href='../chemie/chemie.html'> Chemie </a>
        </div>
        <a href='../chemie/satzevonelementen.html'> Sätze von Elementen </a>
        <a href='../chemie/chemischereaktionen.html'> Chemische Reaktionen </a>
        <a href='../chemie/chemischeelementen.html'> Chemische Elementen </a>

        <div class="Topic">
            <a href='../spiel/spiel.html'> Pilze </a>
        </div>

    </div>

</body>

</html>