<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{page.style}}>
    <title>{{ page.title }}</title>
    <link rel="icon" href="../stahu.ico" type="image/x-icon">
    <meta charset="utf-8" />
</head>
<body>
    <div class='main'>
        {{content}}
    </div>
    <div class='sidebar'>
        <div class="Topic">
            <div style="display: flex; justify-content: space-evenly;">

                <a href={{page.english}}> english </a>
                <a href={{page.franzosisch}}> französisch </a>
            </div>

            <a href='../deutschindex.html'> Homepage  </a>
        </div>

        <div class="Topic">
            <a href='../biologie/biologie.html'> Biologie</a>
        </div>

        <a href='../biologie/organe.html'> Organe </a>
        <a href='../biologie/verdaungssystem.html'> Verdaungssystem </a>
        <a href='../biologie/atmungssystem.html'> Atmungssystem </a>
        <a href='../biologie/kreislaufsystem.html'> Kreislaufsystem </a>
        <a href='../biologie/nervensystem.html'> Nervensystem </a>
        <a href='../biologie/sinnessystem.html'> Sinnessystem</a>
        <a href='../biologie/muskelnundskelett.html'>Muskeln und Skelett
        </a>

        <div class="Topic">
            <a href='../physik/physik.html'> Physik</a>
        </div>

        <div class="Topic">
            <a href='../mathe/mathe.html'> Mathematik </a>
        </div>

        <div class="Topic">
            <a href='../chemie/chemie.html'> Chemie </a>
        </div>
    </div>


</body>

</html>
