<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{page.style}}>
    <title>{{ page.title }}</title>
    <link rel="icon" href="../stahu.ico" type="image/x-icon">
    <meta charset="utf-8" />
</head>
<body>
    <div class='main'>
        {{content}}
    </div>
    <div class='sidebar'>
        <div class='languages'>
            <a href={{page.anglais}}> anglais </a>
            <a href={{page.allemand}}> allemand </a>
        </div>
        <div class='Topic'>
            <a href='../index.html'> Homepage  </a>
        </div>

        <div class="Topic">
            <a href='../biology/biologysite.html'> La Biologie </a>
        </div>

        <a href='../biology/organs.html'> Les Organes </a>
        <a href='../biology/digestivesystem.html'> Le Système Digestif </a>
        <a href='../biology/respiratorysystem.html'> Le Système Respiratoire  </a>
        <a href='../biology/circulatorysystem.html'> Le Système Circulatoire </a>
        <a href='../biology/nervoussystem.html'> Le Système Nerveux</a>
        <a href='../biology/musclesandskelet.html'>  Muscles et Squelette </a>

        <div class="Topic">
            <a href='../physics/physicssite.html'> La Physique</a>
        </div>

        <div class="Topic">
            <a href='../maths/mathssite.html'> La Mathématique </a>
        </div>

        <div class="Topic">
            <a href='../chemistry/chemistrysite.html'> La Chimie </a>
        </div>
    </div>


</body>

</html>